* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
  background: linear-gradient(hsl(0 0 20 / 0.3), hsl(0 0 100 / 0.3)) 0% 0% / 100% 15% no-repeat, linear-gradient(hsl(0 0 100 / 0.3), hsl(0 0 20 / 0.3)) bottom / 100% 15% no-repeat, url("top-image.png") top no-repeat, url("bottom-image.png") bottom no-repeat, white;

  border-top: #11aa11 solid 1mm;
  border-bottom: #11aa11 solid 1mm;
}

h1 {
  background: url(logo.png) no-repeat;
  filter: drop-shadow(black 4px 4px 4px);
}